@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.content {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content__gray {
  background-color: #D9D9D9;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.title {
  background-color: #ba1313;
  color: white;
  text-decoration: none;
  height: auto;
}
.title h2 {
  font-family: "Bebas Neue";
  font-size: 30px;
}

.articles {
  height: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 60px;
}

.cart {
  background-color: #ba1313;
  width: 350px;
  height: 550px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px 15px 5px 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cart .cart__img {
  background-image: url("../../IMAGENES/jose-el-sonador.jpg");
  width: 90%;
  height: 65%;
  border-radius: 15px;
  background-size: cover;
}
.cart .cart__text {
  width: 90%;
  height: 25%;
  color: white;
  font-family: "Bebas Neue";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.cart .cart__button {
  color: #ba1313;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  width: 90%;
  height: 10%;
  background-color: white;
  cursor: pointer;
}

.carousel {
  width: 100%;
  height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}
.carousel .carousel__item {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ba1313;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 100%;
}
.carousel .carousel__item .carousel__cart {
  height: 100%;
  width: 100%;
  background-color: #333;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.carousel__text {
  background-color: #D9D9D9;
  width: 50%;
  height: 70%;
}
.carousel__text h1 {
  height: 25%;
  color: white;
  font-family: "Bebas Neue";
  font-size: 60px;
}
.carousel__text button {
  color: #ba1313;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  width: 90%;
  height: 55px;
  background-color: white;
  cursor: pointer;
}

.carousel__img {
  background-image: url("../../IMAGENES/jose-el-sonador.jpg");
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/*# sourceMappingURL=index.css.map */
